extends template
block head 
  title About Me

block body
    h1#name Allen Liao
    img#meimg(src='resources/images/IMG_1484.jpeg' height='500' alt='live laugh love')
    #aboutme
        .column
            h3 About Me
            p
                b Lorem ipsum
                |  dolor sit amet, consectetur adipiscing elit. Integer id enim bibendum,
                |                     consectetur tortor a, auctor eros. Sed felis odio, vulputate ac dolor nec, fringilla hendrerit eros.
            p
                i Morbi(us)
                |  vestibulum tristique nisl in efficitur. Nulla neque augue, dapibus non dapibus id, consequat vel eros.
                |                     Phasellus condimentum in dui vestibulum dapibus. Praesent volutpat ex neque, id cursus dui euismod fermentum.
            p
                | Pellentesque gravida rhoncus scelerisque. Nunc pulvinar augue id nibh condimentum volutpat et id tellus.
                | Quisque iaculis odio a nunc semper, quis iaculis sem molestie. Mauris tincidunt eu justo at auctor.
        .column
            h3 Hobbies
            ul
                li Watch movies
                li Go on drives
                li Listen to music
                li Read and discuss philosophy and logic
                li Play Spikeball
                li Workout